section.explain-section-left
    .container
        +section-title('Почему стоит доверять', 'именно нам')
        .explain-section-left__inner
            .explain-section-left__left-col
                img(src="static/images/content/img-2.jpg" alt="image")

            .explain-section-left__right-col
                .explain-section-left__title Мы стараемся для вас...
                .explain-section-left__text
                    ul
                        li — Всю подготовку мы берем на себя - делаем все «под ключ»
                        li — Четко на старте объясняем и показываем из чего будет состоять свадьба
                        li — Утверждаем и закрепляем бюджет свадьбы
                        li — Разрабатываем концепцию именно Вашего праздника
                        li — Собственная консьерж-служба.
                        li — Оказываем безупречный сервис с первой встречи и до конца праздника
                    a.btn.btn-primary(data-fancybox href="#modal-consult") ПРОКОНСУЛЬТИРОВАТЬСЯ

