section.map-section
    .container
        .map-section__inner
            .map-section__left-col
                address
                    .map-section__info-group
                        .map-section__info-title Наш адрес:
                        .map-section__info-data.
                            г. Санкт-Петербург, <br>
                            наб. реки Карповки, д. 5, 4 этаж

                    .map-section__info-group
                        .map-section__info-title Наш телефон:
                        .map-section__info-data 8 (921) 111-22-33

                    .map-section__info-group
                        .map-section__info-title Наша почта:
                        .map-section__info-data tutvashapochta@mail.ru

                    .map-section__info-group
                        .map-section__info-title Наши cоц.сети:
                        .map-section__info-data.social
                            +link('#'): +icon('fb')
                            +link('#'): +icon('vk')
                            +link('#'): +icon('fb')
                            +link('#'): +icon('tw')

            .map-section__right-col
                <div id="map_master" class="map-section__map"></div>
                <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>