section
    .container
        .banner-4
            .banner-4__title Предлагаем созвониться, <br> чтобы обсудить все детали
            .banner-4__bottom
                a.btn.btn-primary(data-fancybox href="#modal-callback ") ОСТАВИТЬ ЗАЯВКУ