.posts-grid-1 {
  &__posts {
    @media (min-width: 640px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (min-width: 992px) {
      justify-content: center;
    }
  }

  &__post {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 360px;

    @media (min-width: 640px) {
      margin-left: 0;
      margin-right: 0;
      flex-basis: 48%;
    }

    @media (min-width: 992px) {
      flex-basis: 31%;
      margin-right: 2%;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @media (min-width: 1230px) {
      flex-basis: 33%;
      margin-right: 30px;
    }
  }

  &__post-thumb {
    position: relative;
    min-height: 100px;
    background-color: $color-mine-shaft;

    a {
      position: absolute;
      left: 0;
      bottom: 35px;
      display: inline-flex;
      align-items: center;
      background-color: $color-bizarre;
      color: $color-mako;
      text-transform: uppercase;
      font-size: rem(14);
      line-height: 1.2;
      padding: 12px 30px;
      min-height: 42px;
      transition: background-color 0.3s ease;

      @media (min-width: 1230px) {
        width: 320px;
      }

      svg {
        width: 6px;
        height: 10px;
        margin-left: 30px;
        transition: transform 0.3s ease;
      }

      &:hover {
        background-color: darken($color-bizarre, 10%);

        svg {
          transform: translateX(10px);
        }
      }
    }
  }

  &__bottom {
    text-align: center;
    padding-top: 20px;
  }
}
