section.instagram-section
    .container
        +section-title('Наш instagram')
        .instagram-section__inner
            a(data-fancybox href="static/images/content/foto-1.jpg" rel="gallery1")
                img(src="static/images/content/foto-1.jpg" alt="foto")
            a(data-fancybox href="static/images/content/foto-2.jpg" rel="gallery1")
                img(src="static/images/content/foto-2.jpg" alt="foto")
            a(data-fancybox href="static/images/content/foto-3.jpg" rel="gallery1")
                img(src="static/images/content/foto-3.jpg" alt="foto")
            a(data-fancybox href="static/images/content/foto-4.jpg" rel="gallery1")
                img(src="static/images/content/foto-4.jpg" alt="foto")
            a(data-fancybox href="static/images/content/foto-5.jpg" rel="gallery1")
                img(src="static/images/content/foto-5.jpg" alt="foto")
