section.list-blocks
    .container
        +section-title('А теперь мы расскажем вам,', 'как мы делаем идеальную свадьбу')
        .list-blocks__items
            .list-blocks__item
                .list-blocks__col-left
                    .list-blocks__num 01
                    .list-blocks__title Вы делитесь с нами своей мечтой
                    .list-blocks__text.
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                .list-blocks__col-right
                    img(src="static/images/content/list-block-1.jpg" alt="image")

            .list-blocks__item
                .list-blocks__col-left
                    .list-blocks__num 02
                    .list-blocks__title Мы высылаем вам предложение
                    .list-blocks__text.
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                .list-blocks__col-right
                    img(src="static/images/content/list-block-1.jpg" alt="image")

            .list-blocks__item.reversed
                .list-blocks__col-left
                    .list-blocks__num 03
                    .list-blocks__title Мы согласовываем все детали
                    .list-blocks__text.
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                .list-blocks__col-right
                    img(src="static/images/content/list-block-2.jpg" alt="image")

            .list-blocks__item.reversed
                .list-blocks__col-left
                    .list-blocks__num 04
                    .list-blocks__title Назначаем подходящую дату
                    .list-blocks__text.
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                .list-blocks__col-right
                    img(src="static/images/content/list-block-2.jpg" alt="image")

            .list-blocks__item
                .list-blocks__col-left
                    .list-blocks__num 05
                    .list-blocks__title С легкостью воплощаем вашу мечту
                    .list-blocks__text.
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                .list-blocks__col-right
                    img(src="static/images/content/list-block-1.jpg" alt="image")

            .list-blocks__item
                .list-blocks__col-left
                    .list-blocks__num 06
                    .list-blocks__title Какой-то заголовок от заказчика
                    .list-blocks__text.
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                .list-blocks__col-right
                    img(src="static/images/content/list-block-1.jpg" alt="image")


