section
    .container
        .banner-3(style="background-image: url('static/images/content/banner-3.jpg');")
            .banner-3__inner
                .banner-3__icon
                    +icon('logo')
                p Мы не делаем стандартных свадеб. Каждая свадьба уникальна и похожа на настоящую сказку,
                    | где красной нитью идет история любви и отношений.

                p Мы знаем, как воплотить мечту каждой невесты и с трепетом окунуть в настоящий мир эмоций.
