section.top-banner(style="background-image: url('static/images/general/top-banner.jpg');")
    .top-banner__inner
        .container
            +icon('logo-wide')
            .section-title: h1 Красивые свадебные торжества <br> в Крыму и не только
            .top-banner__bottom
                <a class="btn btn-primary" data-fancybox-video href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">ПОСМОТРЕТЬ ВИДЕО</a>
                +icon('arr-down')
