section.reviews-section
    .container
        +section-title('Отзывы о наших событиях')
        .reviews-section__inner
            .reviews-section__review-wrapper
                .reviews-section__review
                    .reviews-section__review-title Мария и Михаил
                    .reviews-section__review-text.
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse ...
                    .reviews-section__review-date 25.01.2018

            .reviews-section__review-wrapper
                .reviews-section__review
                    .reviews-section__review-title Мария и Михаил
                    .reviews-section__review-text.
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse ...
                    .reviews-section__review-date 25.01.2018

        .reviews-section__bottom
            <a class="btn btn-primary" href="#">СМОТРЕТЬ ВСЕ ОТЗЫВЫ</a>