section.order-form
    .container
        +section-title('Оставьте заявку на организацию', 'свадьбы вашей мечты')
        form.order-form__form
            span
                input(type="text" name="name" placeholder="ВАШЕ ИМЯ")
            span
                input(type="tel" name="phone" placeholder="ВАШ ТЕЛЕФОН")
            span
                input(type="email" name="email" placeholder="ВАШ E-MAIL")
            span
                input(type="submit" name="submit" value="ОТПРАВИТЬ ЗАЯВКУ")
