section
    .container
        .banner-2(style="background-image: url('static/images/content/banner-2.jpg');")
            .banner-2__inner
                .banner-2__title Мы сделаем свадьбу вашей мечты
                .banner-2__box-wrapper
                    .banner-2__box
                        .banner-2__sub-title Посмотрите, как может выгдлядеть <br> ваша свадьба
                        <a class="banner-2__video-btn" data-fancybox-video href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                            <svg class="svg-sprite-icon icon-control-play">
                            <use xlink:href="#control-play"></use>
                            </svg>
                        </a>