section.posts-grid-2
    .container
        +section-title('Услуги, без которых сложно обойтись')
        .posts-grid-2__posts
            - var n = 0;
            while n < 6
                article.posts-grid-2__post
                    .posts-grid-2__post-thumb
                        img(src="static/images/content/service.jpg" alt="post image")
                    .posts-grid-2__post-bottom
                        +link('#'): |
                            .posts-grid-2__bottom-title ФЛОРИСТИКА МЕРОПРИЯТИЯ
                            .posts-grid-2__bottom-link
                                span узнать больше
                -n++
        .posts-grid-2__bottom
            a(class="btn btn-primary" href="#") СМОТРЕТЬ ВСЕ УСЛУГИ