section.explain-section-left
    .container
        +section-title('Безусловно, свадьба - это большое событие,', 'состоящее из множества мелочей')
        .explain-section-left__inner
            .explain-section-left__left-col
                img(src="static/images/content/img-2.jpg" alt="image")

            .explain-section-left__right-col
                .explain-section-left__title Мы осуществим вашу мечту...
                .explain-section-left__text
                    ul
                        li — Мы подберем для Вас ресторан или красивую локацию
                        li — Создадим стилистику и концепцию свадьбы
                        li — Порекомендуем талантливых артистов и участников шоу-программы
                        li — Разработаем индивидуальную концепцию свадьбы
                        li — Правильно распланируем сценарный ход вашего праздника
                        li — Подберем соответствующую флористику и декор
                    a.btn.btn-primary(data-fancybox href="#modal-consult") ПРОКОНСУЛЬТИРОВАТЬСЯ

