extends template/main

block variables
    - var title = 'Главная'
    - var pageClass = 'home-page'

block body
    include modules/header/header
    include modules/top-banner/top-banner
    include modules/posts-grid-1/posts-grid-1
    include modules/banner-2/banner-2
    include modules/list-blocks/list-blocks
    include modules/banner-3/banner-3
    include modules/explain-section-left/explain-section-left
    include modules/explain-section-left-tmp/explain-section-left
    include modules/banner-4/banner-4
    include modules/carousel-2/carousel-2
    include modules/reviews-section/reviews-section
    include modules/posts-grid-5/posts-grid-3
    include modules/banner-1/banner-1
    include modules/description-section/description-section
    include modules/instagram-section/instagram-section
    include modules/footer/footer
