extends template/main

block variables
    - var title = 'Услуги'
    - var pageClass = 'services-page'

block body
    include modules/header/header
    - var pageTitle = 'h1';
    include modules/posts-grid-2/posts-grid-2
    include modules/text-section/text-section
    include modules/footer/footer
