@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
  url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Klementina';
  src: url('../fonts/Klementina.woff') format('woff'),
  url('../fonts/Klementina.woff2') format('woff2'),
  url('../fonts/Klementina.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oranienbaum';
  src: url('../fonts/Oranienbaum.woff') format('woff'),
  url('../fonts/Oranienbaum.woff2') format('woff2'),
  url('../fonts/Oranienbaum.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
