$font-size: 16px;
$base-font-family: "HelveticaNeueCyr-Light";
$secondary-font-family: "Klementina";
$third-font-family: "Oranienbaum";

$color-white: #ffffff;
$color-dove-gray: #666666;
$color-gallery: #ebebeb;
$color-swirl: #d0cbc5;
$color-bizarre: #f1e4de;
$color-mako: #43464b;
$color-mine-shaft: #333333;
$color-black: #000000;
$color-silver: #cccccc;
$color-pearl-bush: #e9dad6;
$color-mercury: #e1e1e1;
$color-pampas: #F6F3F0;
$color-athens-gray: #f3f3f4;
