section
    .container
        .banner-1(style="background-image: url('static/images/content/banner.jpg');")
            .banner-1__inner
                .banner-1__title Узнайте, какой может быть ваша свадьба
                .banner-1__sub-title Оставьте заявку, наш специалист свяжется с вами и ответит на все вопросы
                .banner-1__bottom
                    a.btn.btn-primary(data-fancybox href="#modal-callback ") ОСТАВИТЬ ЗАЯВКУ